<div class="container-fluid mt-0 p-0">
    <h2 class="mb-4">{{title}}</h2>
    <div class="row bg-white m-3">
        <div class="col col-4 mt-3">
            <img src="data:image/{{items.img.contentType}};base64,{{{toString64 items.img.data}}}" alt="Who enter the room" width="100%" height="400">
        </div>
        <div class="col col-8 mt-3">
            <h3>Devicce name: <span style="color: blue;">{{items.name}}</span></h3>
            <h3>Owned Device name: <span style="color: blue;">{{items.attachTo}}</span></h3>
            <h3>Device IP : <span style="color: blue;">{{items.ip}}</span> </h3>
            {{#if items.withMask}}
            <h3>With mask: <span style="color: green;">{{items.withMask}}</span></h3>
            {{else}}
            <h3>With mask: <span style="color: red;">{{items.withMask}}</span></h3>
            {{/if}}
            <h3>Took at: <span style="color: blue;">{{items.createdAt}}</span> </h3>
        </div>
    </div>
</div>