<div class="ml-2">
    <div class="p-3 bg-white">
        <h4>Chào mừng các bạn đến với FaceMaskDetectionGate</h4>
        <hr>
        <h5>Thành viên 1: Trần Quốc Cường - 19521302</h5>
        <h5>Thành viên 2: Đào Thanh Huy - 19521601</h5>
    </div>
</div>

<div class="device-list d-flex flex-wrap mt-3 ml-2">
    {{#each devices}}
    <div class="card mr-3" style="width: 200px;">
        <div class="container-fluid">
            {{!-- Container for card --}}
            <div class="row justify-content-md-center">
                
                <div class="card-body col-8 col">
                    <p class="card-text">{{name}}</p>
                    {{#if isAlive}}
                    <span class="badge badge-success">Success</span>
                    {{else}}
                    <span class="badge badge-danger">Fail</span>
                    {{/if}}
                    <p>{{updatedAt}}<p>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{_id}}" data-target="#delete-log-modal">Remove</a>
                </div>
                <img class="card-img-top col-4 p-2" src="{{imgUrl}}" alt="Card image cap">
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{!-- Delete Modal --}}
<div id="delete-log-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove log?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this log</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete-log" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Hidden Delete Form --}}
<form name="delete-log-form" method="POST"></form>

{{!-- Scripts --}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var deleteForm = document.forms['delete-log-form'];
        var btnDeleteLog = document.getElementById('btn-delete-log');
        var logid;
        $('#delete-log-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            logId = button.data('id') // Extract info from data-* attributes
        });
        btnDeleteLog.onclick = function () {
            deleteForm.action = '/dashboard/delete/' + logId + '?_method=DELETE';
            deleteForm.submit();
        };
    })
</script>